params {
    input=  '/vol/COMPEPIWS/groups/wgbs2/methylme/samplesheet.csv'
    outdir= '/vol/COMPEPIWS/results/sulfite_town'
    // genome= 'GRCm38'
    fasta= '/vol/COMPEPIWS/reference/mm10/genome.fa'
    save_reference= true
    aligner= 'bismark'
    skip_deduplication= false
    comprehensive= true
    cytosine_report= true
    skip_multiqc= false
    max_cpus= 16
    max_memory= '128.GB'
    max_time= '12.h'
}
